<% @posts.each do |p| %>
        <%= turbo_frame_tag "post_#{p.id}" do %>
        <div>
            <%= link_to p.title, post_path(p)%>
        </div>
        <% if p.user == current_user %>
            <%= button_to "Edit"%>
        <% end %>
    <% end %>
<% end %>